<%= link_to "Edit task",task_edit_path%>
<h1>Cyber Incident - <%=@tasks.title.titleize%></h1>

<h2><%=@tasks.details%></h2>
<p>Investigation Status: <%=@tasks.completed%></p>
<%= link_to "Home",tasks_path%>
